<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
<style>
    .menu-links a {
        margin-right: 15px;
    }
</style>
</head>

<body>
    <h1>Listado de Estudiantes</h1>
      <div class="menu-links">
        <a th:href="@{/estudiantes/alta}">Alta Estudiantes</a>
        <a th:href="@{/estudiantes/listadoBeca}">Listado Ordenado por Beca</a>
        <a th:href="@{/estudiantes/formOrdenar}">Ordenar Estudiantes</a>
      </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Genero</th>
                <th>Fecha de Matriculacion</th>
                <th>direccion</th>
                <th>Beca</th>
            </tr>
        </thead>
        <tbody>
          <tr th:each="estudiante : ${estudiantes}">
            <td th:text="${estudiante.nombre}"></td>
            <td th:text="${estudiante.primerApellido}"></td>
            <td th:text="${estudiante.segundoApellido}"></td>
            <td th:text="${estudiante.genero}"></td>
            <td th:text="${estudiante.fechaMatriculacion}"></td>
            <td th:text="${estudiante.direccion}"></td>
            <td th:text="${estudiante.beca}"></td>
            <td><a th:href="@{/estudiantes/details/}+${estudiante.id}">Detalles</a></td>
            <td><a th:href="@{/estudiantes/update/}+${estudiante.id}">Actualizar</a></td>
            <td><form th:action="@{/estudiantes/delete/}+${estudiante .id}" method="get" class="d-inline"
                     th:onclick="return confirm('¿Estás seguro de que deseas eliminar a ' + [[${estudiante.nombre}]] + ' y todos sus datos?');">
                      <button type="submit" class="text-danger border-0 bg-transparent p-0 fw-bold">Eliminar</button>
                </form>
            </td>
          </tr>
        </tbody>
    </table>
</body>
</html>
